#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#directions-text {
    text-align: center;
}

.icons {
    margin-top: 10px;
    display: inline-block;
    position: relative;
    height: 225px;
}
